/*fixed_r start*/
.fixed_r {
	width: 38px;
	border-left: 1px #ccc solid;
	position: fixed;
	top: 0;
	right: 0;
	background: #f8f8f8;
	z-index: 999;
}
.fixed_r .code {
	display: block;
	box-sizing: border-box;
	width: 170px;
	height: 170px;
	position: absolute;
	left: -170px;
	top: 62px;
	background: #fff url(../img/header/mls_r_hide.png) no-repeat center center;
	border: 1px #ccc solid;
	padding: 0;
	margin: 0;
	display: none;
}
.fixed_r .code .arrow {
	width: 16px;
	height: 16px;
	border-top: 1px #ccc solid;
	border-right: 1px #ccc solid;
	background: #fff;
	position: absolute;
	top: 55px;
	right: -10px;
	transform: rotate(45deg);
}
.fixed_r li a {
	display: block;
	width: 20px;
	padding: 16px 9px;
	text-align: center;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
}
.fixed_r li a img {
	padding-bottom: 12px;
	margin: 0 auto;
}
.fixed_r li a span {
	display: block;
	transform: rotate(90deg);
}
.gotop {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 38px;
	width: 38px;
	background: #f8f8f8;
	border-top: 1px #ccc solid;
	display: none;
	z-index: 1000;
}
.gotop img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*fixed_r end*/